body {
    background-color: rgba(229, 123, 144, 1);
}

div.centred {
    margin: 0 auto;
    width: 400px;
}

#form1 > label {
    margin: 5px;
    display: inline-block;
    width: 150px;
}

div[id^="error-"] {
    display: none;
}